.terminal {
  width: 96%;
  height: 50vh;
  background: #300A24; /* Ubuntu terminal vibe */
  border-radius: 10px;
  overflow-y: scroll;
  font-family: "Ubuntu Mono", ui-monospace, SFMono-Regular, Menlo, monospace;
  /* box-shadow: 0 30px 80px rgba(0, 0, 0, 0.6); */

}

/* HEADER (Ubuntu style) */
.terminal-header {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  background: #1A1A1A;
  border-bottom: 1px solid rgba(255,255,255,0.08);
  position: sticky;
}

.dots {
  display: flex;
  gap: 6px;
  margin-right: 12px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.red { background: #ff5f56; }
.yellow { background: #ffbd2e; }
.green { background: #27c93f; }

.title {
  color: #cfcfcf;
  font-size: 12px;
}

/* BODY */
.terminal-body {
  padding: 16px;
  color: #EDEDED;
  font-size: 13px;
  line-height: 1.6;
}

.line {
  margin-bottom: 6px;
}

.prompt {
  color: #3B82F6;;
}

.path {
  color: #9CDCFE;
}

.muted {
  color: #888;
}

.divider {
  height: 10px;
}

.label {
  margin: 10px 0 6px;
  color: #AAA;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* OUTPUT */
.output {
  margin: 0;
  color: #F3F3F3;
  white-space: pre-wrap;
}

/* Fake cursor */
.cursor-line {
  margin-top: 10px;
}

.cursor {
  display: inline-block;
  margin-left: 4px;
  animation: blink 1s infinite;
  color: #fff;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  50%, 100% { opacity: 0; }
}